<div class="container">
    <h1 class="title">Contactos</h1>
    <div class="cards">
      <div class="card">
        <img src="https://via.placeholder.com/100" alt="Avatar" class="avatar">
        <div class="info">
          <h2>Eduardo Arce</h2>
          <p class="contact"><strong>Correo Institucional:</strong> juan.perez&#64;empresa.com</p>
          <p class="contact"><strong>Correo Privado:</strong> eduardomaldonado2003ortiz&#64;gmail.com</p>
          <p class="contact"><strong>Celular:</strong> +593 96 322 1910</p>
        </div>
      </div>
  
      <div class="card">
        <img src="https://via.placeholder.com/100" alt="Avatar" class="avatar">
        <div class="info">
          <h2>Pablo Bravo</h2>
          <p class="contact"><strong>Correo Institucional:</strong> pbravoq&#64;est.ups.edu.ec</p>
          <p class="contact"><strong>Correo Privado:</strong> pablobybravo&#64;gmail.com</p>
          <p class="contact"><strong>Celular:</strong> +593 96 790 0136</p>
        </div>
      </div>
  
      <div class="card">
        <img src="https://via.placeholder.com/100" alt="Avatar" class="avatar">
        <div class="info">
          <h2>Diego Carrion</h2>
          <p class="contact"><strong>Correo Institucional:</strong> carlos.sanchez&#64;empresa.com</p>
          <p class="contact"><strong>Correo Privado:</strong> dcportilla2003&#64;gmail.com</p>
          <p class="contact"><strong>Celular:</strong> +593 96 872 7418</p>
        </div>
      </div>
    </div>
  </div>
  