.p-button-icon-only {
    background-color: #4caf50; /* Verde para indicar acción positiva */
    color: white;
    border-radius: 50%;
  }
  
  .p-button-icon-only:hover {
    background-color: #45a049;
  }
  